@import "imports/_variables.scss";
@import "imports/_global.scss";
@import "imports/_header.scss";
@import "imports/_footer.scss";

#content {
	padding-top: 1px;
}

#discover {
	text-align: center;
	color: white;
	font-family: $discover-font;
	font-size: 4em;
	margin: 40px 0;
}

#welcome-col {

	background: radial-gradient(rgba(25,25,25,0),rgba(25,25,25,0.95)),
				url(img/dark_embroidery.png);
	padding: 5px 10px;
	border-radius: 15px 0;
	border: 5px solid $off-black;

	h2 {
		text-align: center;
		color: $off-white;

	}

	p {
		text-align: center;
		color: $off-white;

	}

	img {
		margin: 15px auto;
		display: block;
		width: 40%;
		border-radius: 50%;
		border: 2.5px solid $off-white;
		
	}

}















































