footer {
	height: 10%;
	position: fixed;
	bottom: 0;
	background-color: $off-black;
	width: 100%;
	text-align: center;
	color: white;
	border-top: 2.5px solid $off-white;

	p {
		position: relative;
		top: 25%;
		font-family: $headline-font;
		height: 50%;
		margin: 0;
		
	}
	
}