html {
	height: 100vh;
	width: 100%;
}

body {

	height: 100vh;
	width: 100%;
	background-image: url(img/greenbackground.jpg);
	background-size: cover;
	margin: 0;
}

h1, h2, h3, h4 {
	font-family: $headline-font;
	color: $off-white;
}

p {
	font-family: $p-font;
	color: $off-white;
}

a {
	text-decoration: none;
	color: white;

	&:active,
	&:focus,
	&:hover {
		text-decoration: none;
		color: inherit;
	}

}

.group:after {
  content: "";
  display: table;
  clear: both;
}

ul {
	list-style: none;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

.transblack {
		background: linear-gradient(
				to right,
				rgba(25,25,25,0),
				rgba(25,25,25,0.4) 5%,
				rgba(25,25,25,1) 30%,
				rgba(25,25,25,1) 70%,
				rgba(25,25,25,0.4) 95%,
				rgba(25,25,25,0)
				);
}

#content {
	padding-top: 1px;
	float: left;
	height: 65%;
	width: 100%;
	position: relative;
	
	background-size: cover;
}