body {
	background: linear-gradient(
				$background-transparent,
				$background-transparent
				), 
				url(img/feathers.png);
}

h1, h2, h3, h4 {
	font-family: $headline-font;
}

p {
	font-family: $p-font;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

ul {
	list-style: none;
}

.col-centered {
	float: none;
	margin: 0 auto;
}