header {
	min-height: 60px;
	background-color: $off-black;
	padding-top: 1px;
	color: white;
	z-index: 100;

	#logo-div {
		max-height: 100%;
		text-align: center;
		z-index: 100;

		h1 {
			font-size: 2.3em;
			margin-top: 2.5px;
			margin-bottom: 0;

		}

		h2 {
			font-size: 1em;
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	nav {
		text-align: center;

		ul:nth-child(1) {
			margin-bottom: 0;
			display: none;

			li {
				float: left;

				font-family: $headline-font;
				padding: 5px 5px;
				margin-top: 30px;
				transition: color 1s;

				&:hover {
					color: $light-rose;
				}
			}

		}

		#mobile-nav{

			position: relative;
			z-index: 10;

			p {
				color: $off-white;
				padding-top: 15px;

			}

			span {
				font-size: 2em;
			}

			ul {
				position: absolute;
				width: 100%;
				height: 100%;
				font-family: $headline-font;
				padding-left: 0;
				z-index: -50;

				li {
					position: relative;
					display: none;
					opacity: 0;
					padding: 15px 0;
					z-index: 10;
					background: linear-gradient(rgba(25,25,25,0.65),rgba(25,25,25,0.65)),
								url(img/concrete_seamless.png);

					&:nth-child(odd){
						background: linear-gradient(rgba(75,75,75,0.65),rgba(75,75,75,0.65)),
						url(img/concrete_seamless.png);
					}
				}
			}


		}

		




	}

}

