#discover {
	position: absolute;
	left: 0;
	text-align: center;
	color: white;
	height: 22.5%;
	width: 100%;
	box-shadow: $off-black 0px 0px 0px;
	
	background: linear-gradient(rgba(25,25,25,0.45),rgba(25,25,25,0.95));
	padding: 5px 0 15px;

	h1 {
		font-family: $discover-font;
		font-size: 2em;
		margin: 0;
		text-shadow: rgba(25,25,25,0.5) 0px 5px 5px;
	}

	span {
		opacity: 0;
	}
}

#welcome {
	top: 22.5%;
	height: 77.5%;
	position: relative;

	.container {
		height: 100%;
		text-align: center;

		img {
			border-radius: 50%;
			height: 40%;
			display: block;
			margin: 10px auto;
			border: 2.5px solid rgba(230,230,230,0.65);

		}

		#introduction {

			padding-top: 1px;
			background: $white-transparent;
			border-radius: 0 15px;
			height: 45%;
			color: $off-white;
			border: 2.5px solid rgba(230,230,230,0.45);

			h1 {
				font-size: 2em;
				font-family: $discover-font;
				margin-top: 15px;
			}

		}
	
	}

}

@import "mediaqueries/_index-mq.scss";























