/* Colour scheme */

$off-black: rgb(25,25,25);

$first-green: rgb(77,185,91);
$second-green: rgb(34,108,44);
$third-green: rgb(131,255,148);
$dark-rose: rgb(108,23,45);
$light-rose: rgb(185,77,105);

$background-transparent: rgba(77,185,91,0.45);

/* Fonts */

$headline-font: 'Julius Sans One', sans-serif;
$p-font: 'Open Sans', sans-serif;
$discover-font: 'Kaushan Script', cursive;